# Output
output.txt
parsed_data.txt
output/
logging/
data/

# Resources
resources/*
!resources/
!resources/icons.csv
!resources/item_id_dictionary.csv
!resources/color_reference.json

## Translations
resources/Translate/*
resources/Translate/*/*
!resources/Translate/
!resources/Translate/EN/
!resources/Translate/EN/Wiki_EN.json
!resources/Translate/TR/
!resources/Translate/TR/Wiki_TR.json

# Misc
config.ini

# Editor directories and files
__pycache__/
.vscode/
.venv/
venv/
.env