# Output
output.txt
parsed_data.txt
output/
logging/

# Resources
resources/*
!resources/
!resources/icons.csv
!resources/item_id_dictionary.csv

# Editor directories and files
__pycache__/
.vscode/
.venv/
venv/
.env